body{
    background:#f4f4f4
}
.detail-header-wrap{
    border-top: 1px solid #ddd;
    background: #fff;
    overflow: hidden;
}
.detail-header-content{
    width: 63%;
    margin: 20px auto;
}
.detail-header-nav{
    margin-bottom: 20px;
}
.detail-header-nav a{
    font-size:14px;
    line-height: 30px;
    cursor: pointer;
}
.detail-header-nav a:hover{
    color: #23b8ff;
}
.detail-header-img-pay{
    overflow: hidden;
}
.detail-header-img-box{
    float: left;
    width: 49%;
    font-size: 14px;
    color: #999;
    line-height: 30px;
}
.detail-header-img{
    width: 100%;
    height: 338px;
    margin-bottom: 10px;
}
.detail-header-img img{
    width: 100%;
    height: 100%;
}
.icon_b{
    width: 19px;
    height: 19px;
    margin-right: 2px;
    display: inline-block;
    margin-top: -1px;
    background: url('../images/course/pay-b.png');
    vertical-align: middle;
    margin-left: 15px;
}
.detail-header-pay-box{
    float: right;
    width: 48%;
    height: 350px;
    font-size: 14px;
}
.detail-header-pay-title{
    font-size: 22px;
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: 400;
}
.detail-header-pay-reply{
    color: #999;
    line-height: 30px;
    margin-bottom: 20px;
}
.icon_seq{
    width: 1px;
    height: 14px;
    margin: 0 20px;
    background: #999;
    display: inline-block;
    vertical-align: middle;
}
.icon_s{

}
.detail-header-pay-yh{
    border: 1px solid #ddd;
    height: 50px;
    position: relative;
    line-height: 50px;
    color: #333;
    padding-left: 15px;
    margin-bottom: 20px;
}
.etail-header-class-name{
    position: absolute;
    top: -20px;
    background: #fff;
    left: 20px;
    color: #333;
    font-size: 16px;
    line-height: 35px;
}
.detail-header-pay-num{
    font-size: 24px;
    color: #ff5d42;
    background: #f4f4f4;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    margin-bottom: 20px;
}
.detail-header-buy{

}
.detail-header-buy-bt{
    display: inline-block;
    border:1px solid #12a7ff;
    color: #12a7ff;
    line-height: 48px;
    width: 140px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    margin: 0 20px 0 0;
}
.detail-header-buy .order{
    color: #fff;
    background: #12a7ff
}
.detail-header-buy .order:hover{
    background: #1297ec
}

.detail-des{
    width: 63%;
    height: 600px;
    margin: 20px auto;
}
.detail-des-left{
    width: 69%;
    float: left;
    background: #fff;
    overflow: hidden;
    padding: 0 1%;
}
.detail-des-right{
    width: 25%;
    float: right;
    background: #fff;
    padding: 20px 1% 20px 1%;
}
.detail-des-nav{
    height: 50px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
.detail-des-nav-item{
    display: inline-block;
    height: 46px;
    line-height: 46px;
    padding: 0 20px;
    font-size: 16px;
}
.selected{
    border-bottom: 4px solid #12a7ff;
    color: #12a7ff;
}
.detail-des-content{
    display: none
}

.detail-des-reply-type{
    background: #f4f4f4;
    border: 1px solid #e5e5e5;
    padding: 10px 0;
    position: relative;
    font-size: 14px
}
.detail-des-reply-static{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 125px;
    border-right: 1px solid #e5e5e5;
    margin: -5px 0;
}
.detail-des-reply-static span{
    color: #e85308;
    font-size: 28px;
    line-height: 1;
    display: block;
}
.detail-des-reply-type-items{
    display: inline-block;
    padding-left: 20px
}
.detail-des-reply-type-items input{
    display: inline-block;
    vertical-align: middle;
}
.detail-des-reply-items{
    position: relative;
    padding: 20px 20px 20px 80px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px
}
.items-left{
    position: absolute;
    width: 80px;
    text-align: center;
    top: 20px;
    left: 0;
}
.items-left img{
    width: 40px;
    height: 40px;
    max-width: 100%;
    border-radius: 50%;
    border: 0;
    vertical-align: middle;
}
.star-show{
    margin-top: -4px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}
.icon_star_1{
    width: 18px;
    height: 18px;
    display: block;
    background: url('../images/course/star-1.png');
    display: inline-block;
    margin-right: 5px
}
.icon_star_2{
    width: 18px;
    height: 18px;
    display: block;
    background: url('../images/course/star-2.png');
    display: inline-block;
    margin-right: 5px
}
.reply-content{
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-bottom: 10px;
    line-height: 2
}
.reply-dated{
    color: #999;
}


.detail-des-teacher-header{
    height: 70px;
    margin-bottom: 20px;
}
.detail-des-teacher-header img{
    height: 100%;
    float: left;
}
.detail-des-teacher-name{
    float: left;
    margin-left: 15px;
    color: #12a7ff;
}
.detail-des-teacher-dis{
    margin-bottom: 15px;
}
.detail-des-teacher-dis ul li{
    display: inline-block;
    width: 31%;
    text-align: center;
    font-size: 14px;
    border-right: 1px solid #ddd;
}
.detail-des-teacher-dis ul li span{
    color: #999;
}
.detail-des-teacher-jianjie{
    padding-bottom: 40px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #ddd;
}
.detail-des-teacher-tel{
    margin: 15px 0;
}
.detail-des-teacher-tel h1{
    font-size: 16px;
    font-weight: 400;
    color: #333;
    margin-bottom: 10px;
}
.detail-des-teacher-tel .detail-des-teacher-tel-num{
    font-size: 14px;
    color: #999;
}