*{
    padding:0;
    margin:0;
}
ul{
    list-style-type: none;
}
.wrap-header{
    height:80px;
}
.wrap-header .header-box{
    width: 63%;
    height:100%;
    margin:0 auto;
}
.header-items{
    height:100%;
    float:left
}
.logo{
    width: 15.5%;
    background:url('../images/header/logo192-3x_621b1c1fc1dd9a9eff1800acff237e5c.JPG');
    background-size: 100% 100%;
}
.search{
    width: 44.5%;
}
.search .search-box{
    box-sizing: content-box;
    width: 70%;
    border: 1px solid #ccc;
    height: 48px;
    border-radius: 3px;
    margin: 16px auto;
    position: relative;
}
.search .header-search-input{
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 83%;
    height: 30px;
    line-height: 30px;
    padding: 10px 10px 10px 0;
    background: none;
    text-indent: 12px;
    vertical-align: top;
    border: 0;
    font-size: 14px;
    outline:none
}
.search .header-search-bt{
    position: absolute;
    top: -1px;
    right: -1px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #23b8ff;
    border-radius: 0 3px 3px 0;
    text-align: center;
    color: #fff;
    cursor: pointer
}
.search .header-search-bt:hover{
    background-color: #188eee;
}
.search .header-search-icon{
    speak: none;
    font-style: normal;
    -webkit-font-feature-settings: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    position: relative;
    vertical-align: 0;
    -webkit-font-smoothing: antialiased;
    display: block;
    width: 32px;
    height: 32px;
    margin: 9px auto;
    background: url(../images/header/search.png);
}
.login{
    width: 40%;
}
.login .login-item{
    float: right;
    text-align: center;
    font-size: 14px;
    color:#333;
    line-height: 80px;
    cursor: pointer;
    padding: 0 15px;
}
.login .login-user img{
    width:36px;
    height:36px;
    border-radius:50%;
    float: right;
    margin: 22px 5px 0 0;
}
.login .login-user span{
    float: right
}

.nav{
    border-bottom: 1px solid #e5e5e5;
    text-align: center
}
.nav .nav-tab-box{
    width:63%;
    height:100%;
    display: inline-block;
    position: relative
}
.nav .nav-tab-ul li{
    font-size: 20px;
    color:#666;
    margin-left: 2px;
    display: inline-block;
    padding: 16px 12px;
    position: relative;
    cursor: pointer;
}
.nav .nav-tab-more{
    position: absolute;
    right: 0;
    top: 20px;
    padding: 3px 10px;
    border: 1px solid #999;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    color: #666;
}
.nav .nav-tab-more:hover{
    border-color: #000;
    color: #000
}

.course{
    margin-top: 50px
}
.course .class-name{
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    text-align: center; 
}
.course .course-items{
    width: 63%;
    margin: 20px auto;
    overflow: hidden;
}
.course .course-items li{
    float: left;
    width:17.8%;
    height: 224px;
    padding: 7px 0.5% 10px 0.5%;
    margin:0 0.5%;
    border: 1px solid transparent;
    cursor: pointer;
}
.course .course-items li:hover{
    border-color: #ddd;
    -webkit-box-shadow: 1px 1px 2px 1px #ececec;
    box-shadow: 1px 1px 2px 1px #ececec;
}
.course .course-items .course-items-image{
    margin-bottom: 8px;
}
.course .course-items .course-items-image img{
    width:100%
}
.course .course-items .course-items-title{
    color: #333;
    font-size: 14px;
    height:40px;
    line-height: 20px;
    margin-bottom: 6px;
}
.course .course-items .course-items-title:hover{
    color: #12a7ff
}
.course .course-items .course-items-num-teacher{
    color: #999;
    font-size: 12px;
    height: 18px;
    margin-bottom: 3px;
}
.course .course-items .course-items-price{
    color: #999;
    font-size: 12px;
    height: 24px;
    line-height: 24px
}
.course .course-items .course-items-price-num{
    color: #f4621f;
    font-size: 14px;
}

.black-wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    z-index: 100;
    display: none
}
.class-select{
    width:60%;
    height:640px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0 60px;
    border-radius: 3px;
    background: #fff;
    display: none
}
.class-select .select-title{
    font-size: 32px;
    line-height: 45px;
    margin-top: 36px;
}
.class-select .select-title-have{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #999;
}
.class-select .select-items-box{
    overflow: hidden;
    margin-top: 10px
}
.class-select .select-items-box li{
    width:100px;
    text-align: center;
    float: left;
    padding: 7px 10px;
    border: .5px solid #bbb;
    border-radius: 80px;
    cursor: pointer;
    margin: 10px 16px 0 0;
    line-height: 14px;
}
.class-select .select-items-box .selected{
    border-color: #12a7ff;
    color: #12a7ff
}
.class-select .select-bt-box{
    overflow: hidden;
    position: absolute;
    bottom: 20px;
    right: 10px
}
.class-select .select-bt-item{
    display: inline-block;
    border:1px solid #bbb;
    color: #333;
    line-height: 48px;
    width: 140px;
    text-align: center;
    float: right;
    margin: 30px 10px 0 0;
    cursor: pointer;
    font-size: 18px
}
.class-select .save{
    color: #fff;
    background: #12a7ff
}